.menu {
  padding: 100px 0;
  color:black;
  background: #ffffff url("../images/background_menu.svg") no-repeat
  center/cover;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  margin: 0 auto 24px;
  font-family: "Inter";
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;
}

.menu__subtitle {
max-width: 780px;
margin: 0 auto;
font-family: "Noto Serif";
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 30px;

}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  margin-top: 100px;
}
